html {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Robot', sans-serif;
    height: 100%;
}

.about {
    background: linear-gradient(to right, rgba(243, 57, 71, .5), #fff);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px 460px 15px 70px;
    text-align: left;
    position: relative;
}

.about p {
    letter-spacing: 1.5px;
}

.about img {
    width: 400px;
    position: absolute;
    right: 40px;
    border-radius: 50px;
}

.intro {
    font-size: 1.5em;
}


#intro {
    max-width: 500px;
    line-height: 30px;
    margin: 20px auto;
}

#jurisdiction,
#hour {
    text-align: center;
    width: 960px;
    padding: 30px 10px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
}

#jurisdiction:after,
#hour::after {
    content: '';
    border: solid 1px #A6A9A8;
    position: absolute;
    left: 0; /*left 0, bottom 0 = set the border bottom by using pseudo class */
    bottom: 0;
    width: 100%;
}

#jurisdiction-wrap {
    text-align: center;
    position: relative;
}

#jurisdiction-wrap div {
    float: left;
    width: 200px;
    padding: 20px;
}

#jurisdiction-wrap img {
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto 10px auto;
}

#hour-wrap {
    display: flex;
    justify-content: space-around;
}

#hour-wrap div {
    width: 200px;
    padding: 0 20px 20px;
    border: solid 2px black;
    border-radius: 3px;
}


/*Media query*/

@media screen and (max-width: 959px) {

    .about {
        padding: 10px;
    }

    .about h1 {
        font-size: 1.9em;
    }

    .about p {
        letter-spacing: unset;
    }

    .intro {
        font-size: 1.2em;
    }

    .mq {
        text-align: center;
    }

    .about img {
        position: static;
        width: 50%;
        margin: 0 auto;
    }

    #jurisdiction,
    #hour {
        width: 80%;
    }

    #jurisdiction-wrap div {
        width: 250px;
    }

    #hour-wrap {
        flex-direction: column;
        align-items: center;
    }

    #hour-wrap div {
        width: 300px;
        margin-bottom: 5px;
    }
}

