
*{
    font-family: 'Crimson Text', serif;
}

/*Header*/

/*Header*/




/*----------------<About>----------------*/
/*Message and Image*/

.aboutus-about {
    background: linear-gradient(to right, rgba(243, 57, 71, .5), #fff);
    margin-bottom: 50px;
    margin-top: 30px;
    padding: 15px 70px 15px;
    text-align: left;
    position: relative;
}

.aboutus-about h1,
.service-service h1 {
    font-size: 40px;
    margin: 0 auto 20px;
    text-align: center;
}

.aboutus-about p {
    letter-spacing: 1.5px;
}

.aboutus-about img {
    width: 35%;
    position: absolute;
    right: 40px;
    border-radius: 50px;
}

.aboutus-intro {
    font-size: 1.5em;
    padding: 15px;
    border: solid 1px black;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 2px black;
    width: 55%;
}

.aboutus-intro h1 {
    font-size: 30px;
    text-align: center;
}



/*Jurisdiction part*/

#aboutus-jurisdiction-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}

#aboutus-jurisdiction-wrap div {
    float: left;
    width: 200px;
    padding: 20px;
}

#aboutus-jurisdiction-wrap img {
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto 10px auto;
}


/*----------------</About>----------------*/

/*----------------<Service>----------------*/
.service-service {
    margin-top: 30px;
    margin-bottom: 60px;
    background: rgba(243, 57, 71, .5);
    padding: 15px 70px 15px;
}

.service-wrap {
    width: 1300px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}

.service-box {
    display: inline-block;
}

.service-left {
    width: 45%;
    margin-right: 90px;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
}

.aboutus-about-right {
    width: 60%;
    line-height: 25px;
}

.service-box.service-left p {
    font-size: 38px;
    color: white;
    background-color: rgba(0,0,0, 0.8);
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 200px;
    /*width: 400px;*/
    text-align: center;
    line-height: 200px;

}

.service-box img {
    max-width: 100%;
}

.service-list li {
    line-height: 50px;
    background-color: silver;
    margin-bottom: 3px;
}

.service-list li:hover {
    background-color: #f33947;
}

.service-list li:hover .service-sub {
    height: 50px;
}

.service-list li:hover .service-sub.overview,
.service-list li:hover .service-sub.passport {
    height: 150px;
}

.service-list li:hover .service-sub.temporary {
    height: 100px;
}

.service-list p {
    padding: 10px;
    margin: 0;
    text-align: center;
}



.service-sub {
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
}

.service-sub li {
    margin-bottom: 0;
    font-style: italic;
}

.service-sub li:hover {
    background: #A6A9A8;
}


/*Recommend Information Part*/
.service-contents {
    display: flex;
    justify-content: center;
}

.service-recommend {
    height: 650px;
    width: 100%;
}

.service-recommend h1 {
    text-align: center;
}

/*----------------</Service>----------------*/



/*Media query*/


@media screen and (max-width: 1080px) {

    .aboutus-about,
    .service-service {
        padding: 10px;
    }

    .aboutus-about p {
        letter-spacing: unset;
    }

    .aboutus-about img {
        position: static;
        width: 50%;
        margin: 10px auto;
    }

    .aboutus-intro {
        font-size: 1.2em;
        width: 70%;
        margin: 0 auto;
    }

    .mq {
        text-align: center;
    }



    #aboutus-jurisdiction-wrap{
        width: 60%;
    }

    #aboutus-jurisdiction-wrap div {
        width: 250px;
    }
}

/*---</Jurisdiction>*/

/*---<Services>---*/
@media screen and (max-width: 1300px){

    .service-wrap{
        max-width: 90%;
    }

    .service-list li {
        font-size: 14px;
        width: 590px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .service-sub li {
        margin-left: 0;
    }

    .service-recommend {
        width: unset;
    }

}

@media screen and (max-width: 1160px){

    .service-wrap {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 190px;
    }

    .service-list {
        display: flex;
        height: 160px;
        flex-direction: column;
    }

    .service-service h1 {
        text-align: center;
    }

    .service-right {
        margin-top: 10px;
    }

    .service-left {
        width: 60%;
        margin: auto;
    }

    .service-left p {
        max-width: 100%;
        font-size: 40px;
    }
}


/*---</Services>---*/

