html {
    height: 100%;
}

*{
    font-family: 'Crimson Text', serif;
    padding:0;
    margin:0;
    /* border: 2px solid blue; */
    font-family: 'Crimson Text', serif;
}

.wrapping {
    padding-top: 15%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}


.float{
    float: left;
    display: block;
    width: 100%;
}

.inner_div{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font: #ffffff;
    margin:0 auto;
    /* border: 2px solid #BDF321; */
    box-sizing: border-box;
    width: 70%;
    /* background-color: pink; */
    height: 100%;
}

.outer_div{
    background-color: #ffffff;
    /* border: 2px solid #A6A9A8; */
    box-sizing: border-box;
    height: 200px;
    margin-bottom:10px;
}

.outer_div:last-child{
    margin-bottom:none;
}

#title {
    padding-left: 7%;
    margin-bottom: 20px;
}

h1{
    font-size:2.5vw;
    background-color: #f33947;
    /* font-family: 'Roboto', sans-serif; */
    line-height: 4vw;
    height: 4vw;
}

.each-title {
    width: 302px;
    display: inline-block;;
}

.image_service {
    width: 90%;
    height: 100%;
}

a{
    color: #000;
    text-decoration: none;

}

a:hover{
    opacity: 0.7;
    text-decoration: none;
    color: lightgrey;
    background-color: pink;
}

a:visited{
    text-decoration: none;
}

@media only screen and (min-width: 768px){
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
